*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.contain{
    
    flex-wrap: wrap;
    margin: auto;
    width: 500px;
    
    
}


.logo{
    width: 250px;
    
}
.addTasks{
    
}

input, button{
    
    border-radius: 8px;
    padding: 0.2rem;
}

input{
    width: 320px;
    margin-right: 10px;
}
button{
    width: 100px;
    color: rgb(146, 145, 145);
    background-color: rgba(245, 247, 247, 1);
    font-size: 13px;
}

.text_contain{
    background-color: rgba(245, 247, 247, 1);
    border-radius: 10px;
}

.item{
    
    font-size: 13px;
    padding: 0.5rem 0;
    border-bottom: 1px solid lightgray;
}